p{
	color:white;
	font-size: 15px;
	font-family: asdf, arial, "Times new roman";
	text-shadow:1px 1px 1px #111111;
    text-align: center;
}

body{
	background-color:#222831;
}

*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, arial;
}

header{
	background-color:#222831;
	height: 80px;
	padding:20px;
}


footer{
	clear: both;
	background-color:#222831;
    color: white;	
	height: 30px;
	text-align: center;
	padding: 10px;
	font-size:12px;
}

h1{
	color:white	;
	text-shadow:1px 1px 1px #111111;
	text-align: center;
	margin:50px 0 50px 0;
}

main{
	clear:both;
	background-size:100%;
	min-height: 400px;
	padding:0 0 0 0;
}
/* IDs */
#logo{
	float:left;
	margin-top: 0px;
}

#menu{
	float: right;
	font-size: 18px;
    margin-top: 25px;
	margin-right: 30px;
}

#menu a{ 
	padding: 15px 30px;
	text-decoration: none;
	color: white;
}
#menu a:hover{
background-color:#00ADB5;
color: white;
}

/* classes */
.container{
	width: 1885px;
	margin: 0 auto;
}

.fundoprincipal{
	background-color:#00ADB5;
	padding: 80px 0 80px 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }
