*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, arial;
}

body{
	background-color:#222831;
	font-family: arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

header{
	height: 80px;
	padding:20px;
	background-color:#222831;
}

header nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav #logo img {
	width: 400px;
	height: auto;
}

nav #menu {
	display: flex;
}

nav #menu li {
	list-style: none;
}

nav #menu li a {
	margin: 8px;
	padding: 15px 10px;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	transition: .3s ease-in;

	cursor: pointer;
}

nav #menu li a:hover {
	background-color:#00ADB5;
}

main{
	clear:both;
	background-size:100%;
	min-height: 400px;
	padding:0 0 0 0;
}

h1{
	color:white	;
	text-shadow:1px 1px 1px #111111;
	text-align: center;
	margin: 50px;
	padding-top:20px;
}

p{
	color:white;
	font-size: 15px;
	font-family: arial, Helvetica;
	text-shadow:1px 1px 1px #111111;
		text-align: center;
}

footer{
	clear: both;
    color: white;	
	height: 30px;
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	font-size:12px;
}

.container{
	width: 1885px;
	margin: 0 auto;
}

.fundoprincipal{
	background-color:#00ADB5;
	padding: 80px 0 80px 0;
}

.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }

.flex-imgs{
	display:flex;
	align-items: center;
	justify-content: center;
}

.titulo-vant{
	display:flex;
	justify-content: space-evenly;
	width:100%;
}

.container-vant{
	display:flex;
	width: 100%;
	flex-flow: row wrap;
	justify-content: space-evenly;
}

.vants{
	background-color: #393E46;
	width: 60px;
	height: 180px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex-basis: 15%;
	padding: 20px;
	border-radius: 8px;
}

.alinhamentoh1{
	width:200px;
	height:50px;
}

.alinhamentoh2{
	margin-top:20px;
	font-size: medium;
	color:white;
}
/*@media (max-width: 600px ) and (min-width: 500px)