*{
	margin: 0;
	padding: 0;
	font-family: Helvetica, arial;
}

body{
	background-color:#222831;
	font-family: arial, Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: inherit;
}

header{
	height: 150px;
	padding:20px;
	background-color:#222831;
}

header nav {
	display: flex;
	flex-wrap: wrap;	
	align-items: center;
	justify-content: space-between;
}

nav #logo img {
	width: 400px;
	height: auto;
}

nav #menu {
	display: flex;
}

nav #menu li {
	list-style: none;
}

nav #menu li a {
	margin: 8px;
	padding: 15px 10px;
	border-radius: 8px;
	font-size: 18px;
	color: white;
	transition: .3s ease-in;

	cursor: pointer;
}

nav #menu li a:hover {
	background-color:#00ADB5;
}

main{
	clear:both;
	background-size:100%;
	min-height: 400px;
	padding:0 0 0 0;
}

h1{
	color:white	;
	text-shadow:1px 1px 1px #111111;
	text-align: center;
	margin: 50px;
	padding-top:20px;
}

p{
	color:white;
	font-size: 15px;
	font-family: arial, Helvetica;
	text-shadow:1px 1px 1px #111111;
	text-align: center;
}

footer{
	background: #393E46; 
	clear: both;
    color: white;	
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	font-size:12px;
}

.fundoprincipal{
	background-color:#00ADB5;
	padding: 80px 0 80px 0;
}

.flex-imgs{
	display:flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.container-vant{
	max-width: 1200px;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.vants{
	background-color: #393E46;
	height: 220px;
	flex-direction: column;
	align-items: center;
	text-align: center;
	flex-basis: 20%;
	padding: 20px;
	border-radius: 12px;
	margin-top: 20px;
}

.alinhamentoh1{
	margin: 20px;
	padding:10px;
	flex-basis: 20%;
}

.alinhamentoh2{
	margin:10px;
	font-size: medium;
	color:white;
}
.sizeImgs1{
	width: 400px;
	height: 250px;
}
.arrowSize{
	width: 250px;
	height: 200px;;
}

.sizeImgs2{
	width : 150px; 
	height: 80px;
}
.footerLinks {
	text-align: center;
	display: flex;
	justify-content: center;
 }
 
 .footerLinks ul {
	 padding: 0;
	 list-style-type: none;
	 margin: 0;
 }
 
 .footerLinks li {
	list-style: none;
}

 .footerLinks a {
	 margin: 8px;
	 padding: 10px 5px;
	 transition: .2s ease-in;
	 font-size: 15px;
	 border-radius: 8px;
	 cursor: pointer;
 }

 @media (max-width: 725px) {
	header nav {
		display: flex;
		align-items: center;
		justify-content: center;
	}

	nav #logo img {
		width: 280px;
		margin-bottom: 20px;	
	}
	.tamanhoimgs1{
		width: 120px;
		height: 80px;
	}
	.arrowsize{
		width: 60px;
		height: 40px;
	}
 }

 /*@media (max-width: 700px) and (min-width: 300px){
 header{
	height: 100px;
	padding:20px;
	background-color:#222831;
	align-items: center;
 }
	
 header nav {
	display: flex;
	flex-wrap: wrap;	
 }
	
 nav #logo img {
	padding:10px;
	width: 300px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
 }
	
 nav #menu {
	display: flex;
	flex-wrap: wrap;
	margin:20px;
 }
 .vants{
	background-color: #393E46;
	height: 120px;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
	flex-basis: 20%;
	padding: 20px;
	border-radius: 12px;
	margin-top: 20px;
}
.tamanhoimgs{
	width : 100px; 
	height: 40px;
}
.alinhamentoh2{
	margin:10px;
	font-size: small;
	color:white;

}
}